.Card {
  /* border:1px solid red; */
  margin: 20px;
  background: linear-gradient(
    to bottom,
    rgba(208,212, 248, 0),    /* 100% opacity at the top */
    rgba(208,212, 248, 0), /* 75% opacity in the middle */
    rgba(208,212, 248,0.25),  /* 50% opacity at the bottom */
    rgba(208,212, 248, 0.5)  /* 25% opacity at the very bottom */
    
);

}
.Card-image {
  max-height: 250px;
  padding-left: 100px;
}
.First-statement {
  margin: 10px 35px 10px;
}
.Second-statement {
  border: 2px solid #b1b3b6;
  border-radius: 3px;
  margin: 10px 35px 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 10px 20px 10px 80px;
  display: flex;
  justify-content: space-between;
}
.NumberofCourse {
  min-width: 10%;
  position: relative;
  color: #171c8f;
  margin-right: 30px;
  font-weight: 600;
  /* border:1px solid red; */
}
.vl {
  border-left: 1px solid silver;
  position: relative;
  margin-right: 30px;
  margin-top: 10px;
  height: 50px;
  width: 2px;
}

.Amount {
  font-size: 50px;
  font-weight: 700;
  color: #171c8f;
  padding: 30px;
  max-width: 100%;
  
}

.CourseInfo {
  display: flex;
  margin: 10px 35px 10px;
  max-width: 100%;
  
}

.CourseInfoParagraph{
    margin: 10px 35px 10px;
   padding:0;
   padding-right: 0;
   font-size:14.7px;
   
}
.StarrtingCourseFee{
 padding-top: 70px;
  margin:10x;
  margin-left: 5px;
  font-size: 16px;
  
}