.Card {
  /* border:1px solid red; */
  margin: 20px;
}
.Card-image {
  max-height: 250px;
  padding-left: 100px;
}
.First-statement {
  margin: 10px 35px 10px;
}
.Second-statement {
  border: 2px solid #b1b3b6;
  border-radius: 3px;
  margin: 10px 35px 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 10px 20px 10px 80px;
  display: flex;
  justify-content: space-between;
}
.NumberofCourse {
  min-width: 10%;
  position: relative;
  color: #171c8f;
  margin-right: 30px;
  font-weight: 600;
  /* border:1px solid red; */
}
.vl {
  border-left: 1px solid silver;
  position: relative;
  margin-right: 30px;
  margin-top: 10px;
  height: 50px;
  width: 2px;
}

.Amount {
  font-size: 50px;
  font-weight: 700;
  color: #171c8f;
  padding: 30px;
  max-width: 100%;
}

.CourseInfo {
  display: flex;
  margin: 10px 35px 10px;
  max-width: 100%;
  
}
.ViewCourseButton {
  max-height: 34px;
  background-color: #171c8f;
  color: white;
  width: 170px;
  position: relative;
  top: 50px;
  left: 105px;
  border-radius: 5px;
  border: 1px solid #171c8f;
  padding: 0 25px;
  letter-spacing: 1.5px;
  font-size: 0.75rem;
  font-weight: 400;
}
.ViewCourseButton:hover {
  background-color: #ffffff;
  cursor: pointer;
  color: #171c8f;
}
.CourseInfoParagraph{
    margin: 10px 35px 10px;
   padding:0;
   padding-right: 0;
   font-size:14.7px;
   
}
