.Card{
  /* border:1px solid red; */
    margin:20px;
   
}
.Card-image{
    max-height: 250px;
    padding-left:100px;
}
.First-statement{
    margin:10px 35px 10px;
}
.Second-statement{
    border:2px solid #b1b3b6;
    border-radius:3px;
    margin:10px 35px 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 10px 20px 10px 80px;
    display: flex;
    justify-content: space-between;
}
.NumberofCourse{
    min-width:10%;
    position: relative;
    color:#171c8f;
    margin-right:30px;   
    font-weight: 600;
    /* border:1px solid red; */
    
}
.vl {
    border-left: 1px solid silver;
    position: relative;
    margin-right:30px;
    margin-top:10px;
    height: 50px;
    width: 2px;
    
  }
  

