.conatiner-Header {
  top: 0px;
  width: 100%;
  height: 100px;
  background-color: #171c8f;
  display: flex;
  justify-content: space-between;
}
.logo_div {
  margin-left: 10%;
  height: 100%;
  padding: 10px;
}
.logo_div img {
  object-fit: fill;
  max-height: 80%;
}
.Header_buttons {
  display: flex;
  justify-content: space-around;
  bottom: 0px;
  height: 50%;
  padding-top: 2px;
}
.Right-Panel-Header {
  margin-right: 25px;
  width: 50%;
  max-height: 100%;
}
.Login_info_Header {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid red; */
}
.Headers {
  padding-left: 6px;
  color: white;
  font-weight: 400;
  font: Roboto, sans-serif;
  text-decoration: underline 0.15em #171c8f;
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}
.WebisteName {
  text-decoration: none;
  color: whitesmoke;
}


h3:hover {
  text-decoration-color: rgb(242, 242, 246);
  text-underline-offset: 0.4em;
}
.buttonss {
  background-color: #171c8f;
  color: white;
  margin-right: 200px;
  border: none;
  border-radius: 5px;
  border: 1px solid #171c8f;
  padding: 0 25px;
  letter-spacing: 1.5px;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: underline 0.15em #171c8f;
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

.buttonss:hover {
  text-decoration-color: rgb(242, 242, 246);
  text-underline-offset: 0.4em;
}



.input {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.input:focus {
  border-color: #171c8f;
  outline: none;
  box-shadow: 0 0 3px 2px rgba(23, 28, 143, 0.5);
}