
.FindYourCityDiv{
  height:150px;
  padding:40px;
  text-align: center;
  background: url(../../assets/search-bg.jpg);
  background-repeat: no-repeat, no-repeat;

}

.FindCityDropdown{
  padding:20px;
  padding-left: 0;
}

.FindYorCityHeading{
  font-size:30px;
  color:white;
  padding-bottom: 40px;;
}

.SearchButton{
  padding:20px;
  margin-bottom:20px;
 
}